$standard-main: #BD5E00;
$standard-main-hover: #804000;
$standard-accent: #804000;
$standard-amendment-bg: rgba(189, 94, 0, .3);

$erick-main: #BD2900;
$erick-main-hover: #801C00;
$erick-accent: #801C00;
$erick-amendment-bg: rgba(189, 41, 0, .3);

$ricardo-main: #008EBD;
$ricardo-main-hover: #006080;
$ricardo-accent: #006080;
$ricardo-amendment-bg: rgba(0, 142, 189, .3);

$jose-main: #005BBD;
$jose-main-hover: #003C80;
$jose-accent: #003C80;
$jose-amendment-bg: rgba(0, 91, 189, .3);

$martha-main: #CC1D00;
$martha-main-hover: #CC1D00;
$martha-accent: #D80000;
$martha-amendment-bg: rgba(237, 71, 0, .3);

$ivy-main: #BD00BD;
$ivy-main-hover: #800080;
$ivy-accent: #800080;
$ivy-amendment-bg: rgba(237, 71, 0, .3);

$milan-main: #A7BD00;
$milan-main-hover: #718000;
$milan-accent: #718000;
$milan-amendment-bg: rgba(167, 189, 0, .3);

$jessica-main: #00BD8E;
$jessica-main-hover: #008062;
$jessica-accent: #008062;
$jessica-amendment-bg: rgba(0, 189, 142, .3);

$font-stack-main: 'Helvetica Neue', Helvetica, Sans-Serif;
